:root {
    --cor-pricinpal:#fefeff;
    --cor-secundaria:#f0f3f4;
    --cor-titulo:#1977f3;
    --cor-notificacao:#ff6633;
    --cor-enviadas:#99ffcc;
    --cor-recebidas:#dddddd;
    --cor-chat:#fff;
    --tam-cabecalho:80px;
    --tam-form_msg:40px;
    --tam-info_usuario:350px;
    --cor-botao-principal: #0b7cfe;
    --cor-botao-secundario: #00a400;
    --cor-botao-principal-hover: #4d4cfe;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--cor-secundaria);
}
.content {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

a {
    text-decoration: none;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

.erro{
    color: #c73232;
}

h1, h2, span {
    color: #5f5f5f;
}
#tituloChat{
    color: var(--cor-titulo);
    text-align: center;
    font-weight: bold;
}
.banner_inicial {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    align-items: center;
}

.form_login {
    background-color: var(--cor-pricinpal);
    border-radius: 5px;
    box-shadow: rgb(202, 207, 207) 0px 0px 20px;
    min-height: 300px;
    width: 300px;
    margin: auto;
    padding:50px 30px;
    text-align:center;
    display: flex;
    flex-direction: column;
}

input, #btnEntrar {
    outline: none;
    border: 1px solid var(--cor-secundaria);
    width: 92%;
    margin:2%;
    padding: 10px 2%;
    box-sizing: border-box;
    border-radius: 5px;
}
input:focus {
    border: 1px solid var(--cor-titulo);
}
#btnEntrar, #btnCadastrar {
    background-color: var(--cor-botao-principal);
    color: #fff;
    font-weight: bold;
}
#btnEntrar:hover, #btnCadastrar:hover {
    cursor: pointer;
    background-color: var(--cor-botao-principal-hover);
}
.formulario {
    background-color: var(--cor-pricinpal);
    border-radius: 5px;
    box-shadow: rgb(202, 207, 207) 0px 0px 20px;
    width: 300px;
    padding: 30px;
    position: relative;
    align-self: center;
    justify-self: center;
    margin: 70px auto;
}
.formulario * {
    display: block;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    box-sizing: border-box;
}

#mostraFoto {
    width: 50%;
    margin: auto;
}

#info_usuario {
    position: fixed;
    width: var(--tam-info_usuario);
    top: 0;
    bottom: 0;
    background-color: var(--cor-pricinpal);
    margin: 0;
    padding: 0;
}

#info_usuario * {
    vertical-align: middle;
}

#nome_usuario {
    height: var(--tam-cabecalho);
    width: 100%;
}

#nome_usuario table {
    height: var(--tam-cabecalho);
    width: 100%;
    padding: 0;
    margin: 0;
}

#nome_usuario table tr td h1 {
    font-weight: bolder;
    margin: 0 10px;
}

.fotoPerfil {
    border: 1px solid black;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}

#chat {
    display: none;
    position: fixed;
    left: var(--tam-info_usuario);
    right: 0;
    top: 0;
    bottom: 0;
}

#cabecalho_chat {
    background-color: var(--cor-pricinpal);
    height: var(--tam-cabecalho);
    box-sizing: border-box;
    padding: 10px 5px;
    width: 100%;
    position: absolute;
}

#corpo_chat {
    top: var(--tam-cabecalho);
    bottom: var(--tam-form_msg);
    width: 100%;
    position: absolute;
    overflow-y: auto;
}

#form_mensagem {
    background-color: var(--cor-pricinpal);
    height: var(--tam-form_msg);
    box-sizing: border-box;
    padding: 10px 5px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.item_contato {
    color: #fff;
    box-sizing: border-box;
    display: block;
    height: 70px;
    width: 100%;
    padding-left: 30px;
    font-size: larger;
    text-align: left;
    background-color: chartreuse;
    border:none;
    border-bottom: 1px solid seagreen;
    border-radius: 3px;
    font-weight: bolder;
}

.item_contato:hover {
    cursor: pointer;
    background-color: var(--cor-secundaria);
}

.msg {
    padding: 2px 10px;
    width: 200px;
    margin:3px;
    border-radius: 4px;
}

.recebida {
    background-color: var(--cor-recebidas);
    float:left;
}

.enviada {
    background-color: var(--cor-enviadas);
    float: right;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

li {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

li:after {
    display: block;
    content: '';
    clear: both;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown span {
    padding: 0 9px 9px 9px;
    font-size: 25px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--cor-secundaria);
    min-width: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}